
<marquee behavior="scroll" direction="right">
  Fashion store for men
</marquee>
<section class="product">
  <div class="container" text-center>
    <div class="row">
      <!--1st item-->
      <div class="col-md-3">
        <div class="box">
          <div class="product_image">
            <img src="./assets/images/p1.JPG" alt="p1.JPG">  
            <h6>men's t-shirt half hands</h6>  
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
          <div class="content">
            <h4>₹100</h4>          
            <button type="button" class="btn"><i class="fas fa-plus"></i></button>
            <span>1</span>
            <button type="button" class="btn"><i class="fas fa-minus"></i></button>
          </div>
             <button type="button" class="cart_btn" >Add To Cart</button>
        </div>
      </div>

      <!--1st item ended-->
       


      <!--second item-->
      <div class="col-md-3">

        <div class="box">
          <div class="product_image">
            <img src="./assets/images/p2.JPG" alt="p2.JPG">  
            <h6>men's t-shirt half hands</h6>  
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
          <div class="content">
            <h4>₹300</h4>
            <button type="button" class="btn"><i class="fas fa-plus"></i></button>
            <span>1</span>
            <button type="button" class="btn"><i class="fas fa-minus"></i></button>
          </div>
             <button type="button" class="cart_btn" >Add To Cart</button>
        </div>
      </div>
      <!--second item ended-->

      
      <!--3rd item-->

      <div class="col-md-3">
        <div class="box">
          <div class="product_image">
            <img src="./assets/images/p3.JPG" alt="p3.JPG">  
            <h6>men's t-shirt full hands</h6>  
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>

          <div class="content">
            <h4>₹500</h4>
            <button type="button" class="btn"><i class="fas fa-plus"></i></button>
            <span>1</span>
            <button type="button" class="btn"><i class="fas fa-minus"></i></button>
          </div>
             <button type="button" class="cart_btn" >Add To Cart</button>
        </div>
      </div>
  
      <!--3rd item ended-->


     <!--4th item -->

      <div class="col-md-3">
        <div class="box">
          <div class="product_image">
            <img src="./assets/images/p4.JPG" alt="p4.JPG">  
            <h6>men's t-shirt full hands</h6>  
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>

          <div class="content">
            <h4>₹700</h4>
            <button type="button" class="btn"><i class="fas fa-plus"></i></button>
            <span>1</span>
            <button type="button" class="btn"><i class="fas fa-minus"></i></button>
          </div>
             <button type="button" class="cart_btn" >Add To Cart</button>
        </div>
      </div>
    
     <!--4th item ended-->


     <!--5th item -->

     <div class="col-md-3">
      <div class="box">
        <div class="product_image">
          <img src="./assets/images/p5.JPG" alt="p5.JPG">  
          <h6>men's zeans pant</h6>  
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i>
        </div>

        <div class="content">
          <h4>₹800</h4>
          <button type="button" class="btn"><i class="fas fa-plus"></i></button>
          <span>1</span>
          <button type="button" class="btn"><i class="fas fa-minus"></i></button>
        </div>
           <button type="button" class="cart_btn" >Add To Cart</button>
      </div>
    </div>


     <!--5th item ended-->


   <!--6th item-->

   <div class="col-md-3">
    
    <div class="box">
      <div class="product_image">
        <img src="./assets/images/p6.JPG" alt="p6.JPG">  
        <h6>men's zeans pant</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>

      <div class="content">
        <h4>₹200</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>


   <!--6th item ended-->
 


<!--7th item-->
   <div class="col-md-3">
    <div class="box">
      <div class="product_image">
        <img src="./assets/images/p7.JPG" alt="p7.JPG">  
        <h6>men's casual trowser</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>

      <div class="content">
        <h4>₹900</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>

<!--7th item ended-->


<!--8th item-->

<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/images/p8.JPG" alt="p8.JPG">  
      <h6>men's zeans pant</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹1000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>


<!--8th item ended-->


<!--9th item -->



<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/images/p9.JPG" alt="p9.JPG">  
      <h6>men's cotton kurta</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹2000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>



<!--9th item ended-->

<!--10th item -->


<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/images/p10.JPG" alt="p10.JPG">  
      <h6>men's cotton kurta</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹1700</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>





<!--10th item ended-->


<!--11th item started-->


<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/images/p11.JPG" alt="p11.JPG">  
      <h6>men's cotton kurta</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹1800</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>




<!--11th item ended-->


<!--12th item -->


<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/images/p12.JPG" alt="p12.JPG">  
      <h6>men's cotton kurta</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹900</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>


<!--12th item ended-->


<!--13th item -->



<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/images/p13.JPG" alt="p13.JPG">  
      <h6>men's silk kurta</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹7200</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>


<!--13th item ended-->


<!--14th item ended-->


<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/images/p14.JPG" alt="p14.JPG">  
      <h6>men's silk kurta</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹2800</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>

<!--14th item ended-->



<!--15th item ended-->



<div class="col-md-3">

  <div class="box">
    <div class="product_image">
      <img src="./assets/images/p15.JPG" alt="p15.JPG">  
      <h6>men's silk kurta</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹6300</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>

<!--15th item ended-->


<!--16th item -->


<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/images/p16.JPG" alt="p16.JPG">  
      <h6>men's silk kurta</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹3100</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>

<!--16th item ended-->

      
          







    </div>
  </div>

</section>








<marquee behavior="scroll" direction="right">
  Fashion store for women
</marquee>

<section class="product">
  <div class="container" text-center>
    <div class="row">
      
          <!-- womens fashion STARTED-->                   

  <!--1st item-->
  <div class="col-md-3">
   
    <div class="box">
      <div class="product_image">
        <img src="./assets/images/w1.JPG" alt="w1.JPG">  
        <h6>Women's Plain Woven Georgette Saree with Unstitched Blouse...</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>
      <div class="content">
        <h4>₹1200</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>

  <!--1st item ended-->
   


  <!--second item-->
  <div class="col-md-3">

    <div class="box">
      <div class="product_image">
        <img src="./assets/images/w2.JPG" alt="w2.JPG">  
        <h6>Star Fashions Women's Rayon A-Line Kurta</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>
      <div class="content">
        <h4>₹3400</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>
  <!--second item ended-->

  
  <!--3rd item-->

  <div class="col-md-3">
    <div class="box">
      <div class="product_image">
        <img src="./assets/images/w3.JPG" alt="w3.JPG">  
        <h6>Women's Fit And Flare Knee Length Gown</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>

      <div class="content">
        <h4>₹5100</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>

  <!--3rd item ended-->


 <!--4th item -->

  <div class="col-md-3">
    <div class="box">
      <div class="product_image">
        <img src="./assets/images/w4.JPG" alt="w4.JPG">  
        <h6>Women's Net and Soft Silk Full Embroidery Semi-Stitched Red Salwar Suit</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>

      <div class="content">
        <h4>₹7100</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>

 <!--4th item ended-->


 <!--5th item -->

 <div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/images/w5.JPG" alt="w5.JPG">  
      <h6>Women's Net Semi stitched Lehenga Choli</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹1000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>


 <!--5th item ended-->


<!--6th item-->

<div class="col-md-3">

<div class="box">
  <div class="product_image">
    <img src="./assets/images/w6.JPG" alt="w6.JPG">  
    <h6>Women's Tafetta Silk Semi Stitched Lehenga Choli</h6>  
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half"></i>
  </div>

  <div class="content">
    <h4>₹1200</h4>
    <button type="button" class="btn"><i class="fas fa-plus"></i></button>
    <span>1</span>
    <button type="button" class="btn"><i class="fas fa-minus"></i></button>
  </div>
     <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>


<!--6th item ended-->



<!--7th item-->
<div class="col-md-3">
<div class="box">
  <div class="product_image">
    <img src="./assets/images/w7.JPG" alt="w7.JPG">  
    <h6>Women's Net Semi stitched Lehenga Choli</h6>  
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half"></i>
  </div>

  <div class="content">
    <h4>₹1900</h4>
    <button type="button" class="btn"><i class="fas fa-plus"></i></button>
    <span>1</span>
    <button type="button" class="btn"><i class="fas fa-minus"></i></button>
  </div>
     <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>

<!--7th item ended-->


<!--8th item-->

<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/images/w8.JPG" alt="w8.JPG">  
  <h6>Women's Cotton Jaipuri Printed Trending Sleeveless Anarkali</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹1599/-</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>


<!--8th item ended-->


<!--9th item -->



<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/images/w9.JPG" alt="w9.JPG">  
  <h6>Women's Tissue Semi-stitched Lehenga Choli</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹1699</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>



<!--9th item ended-->

<!--10th item -->


<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/images/w10.JPG" alt="w10.JPG">  
  <h6>Parii Fashion Jaipur Cotton Flared/A-line Stitched Casual</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹1299</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>





<!--10th item ended-->


<!--11th item started-->


<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/images/w11.JPG" alt="w11.JPG">  
  <h6>Speed X Fashion Women's Handbag</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹1999</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>




<!--11th item ended-->


<!--12th item -->


<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/images/w12.JPG" alt="w12.JPG">  
  <h6>Women's cotton Straight Kurta With Checkered Trouser</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹1199</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>


<!--12th item ended-->


<!--13th item -->



<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/images/w13.JPG" alt="w13.JPG">  
  <h6>Fashion Women's Banarasi Soft Lichi Silk Saree With Blouse</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹5200</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>


<!--13th item ended-->


<!--14th item ended-->


<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/images/w14.JPG" alt="w14.JPG">  
  <h6>Women's Anarkali Gown Knee Length Dress</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹2300</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>

<!--14th item ended-->



<!--15th item ended-->



<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/images/w15.JPG" alt="w15.JPG">  
  <h6>Women's Georgette Saree With Unstiched Blouse Piece</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹1400/-</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>

<!--15th item ended-->


<!--16th item -->


<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/images/w16.JPG" alt="w16.JPG">  
  <h6>Vaibhav Industries Women's Handloom Cotton A-Line Kurta</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹7999/-</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>

<!--16th item ended-->




    </div>
  </div>
</section>