<h1 class="first-heading">Laptops</h1>
<section class="product">
  <div class="container" text-center>
    <div class="row">
      <!--1st item-->
      <div class="col-md-3">
        <div class="box">
          <div class="product_image">
            <img src="./assets/image/p1.JPG" alt="p1.JPG" width="200px">  
            <h6>Dell Inspiron 3501 15.6" </h6>  
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
          <div class="content">
            <h4>₹35,000</h4>          
            <button type="button" class="btn"><i class="fas fa-plus"></i></button>
            <span>1</span>
            <button type="button" class="btn"><i class="fas fa-minus"></i></button>
          </div>
             <button type="button" class="cart_btn" >Add To Cart</button>
        </div>
      </div>

      <!--1st item ended-->
       


      <!--second item-->
      <div class="col-md-3">

        <div class="box">
          <div class="product_image">
            <img src="./assets/image/p2.JPG" alt="p2.JPG" width="200px">  
            <h6>ASUS VivoBook 14 (2020)</h6>  
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
          <div class="content">
            <h4>₹43,300</h4>
            <button type="button" class="btn"><i class="fas fa-plus"></i></button>
            <span>1</span>
            <button type="button" class="btn"><i class="fas fa-minus"></i></button>
          </div>
             <button type="button" class="cart_btn" >Add To Cart</button>
        </div>
      </div>
      <!--second item ended-->

      
      <!--3rd item-->

      <div class="col-md-3">
        <div class="box">
          <div class="product_image">
            <img src="./assets/image/p3.JPG" alt="p3.JPG" width="200px">  
            <h6>Lenovo IdeaPad 3 (2021)|11th Gen Intel Core i3 |14"</h6>  
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>

          <div class="content">
            <h4>₹55,500</h4>
            <button type="button" class="btn"><i class="fas fa-plus"></i></button>
            <span>1</span>
            <button type="button" class="btn"><i class="fas fa-minus"></i></button>
          </div>
             <button type="button" class="cart_btn" >Add To Cart</button>
        </div>
      </div>
  
      <!--3rd item ended-->


     <!--4th item -->

      <div class="col-md-3">
        <div class="box">
          <div class="product_image">
            <img src="./assets/image/p4.JPG" alt="p4.JPG" width="200px">  
            <h6>HP 15 (2021) Thin & Light 11th Gen Core i3 Laptop</h6>  
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>

          <div class="content">
            <h4>₹67,800</h4>
            <button type="button" class="btn"><i class="fas fa-plus"></i></button>
            <span>1</span>
            <button type="button" class="btn"><i class="fas fa-minus"></i></button>
          </div>
             <button type="button" class="cart_btn" >Add To Cart</button>
        </div>
      </div>
    
     <!--4th item ended-->


     <!--5th item -->

     <div class="col-md-3">
      <div class="box">
        <div class="product_image">
          <img src="./assets/image/p5.JPG" alt="p5.JPG" width="200px">  
          <h6>HP 15 11th Gen Intel Core i3 Processor 15.6"</h6>  
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i>
        </div>

        <div class="content">
          <h4>₹28,400</h4>
          <button type="button" class="btn"><i class="fas fa-plus"></i></button>
          <span>1</span>
          <button type="button" class="btn"><i class="fas fa-minus"></i></button>
        </div>
           <button type="button" class="cart_btn" >Add To Cart</button>
      </div>
    </div>


     <!--5th item ended-->


   <!--6th item-->

   <div class="col-md-3">
    
    <div class="box">
      <div class="product_image">
        <img src="./assets/image/p6.JPG" alt="p6.JPG" width="200px">  
        <h6>HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>

      <div class="content">
        <h4>₹76,500</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>


   <!--6th item ended-->
 


<!--7th item-->
   <div class="col-md-3">
    <div class="box">
      <div class="product_image">
        <img src="./assets/image/p7.JPG" alt="p7.JPG" width="200px">  
        <h6>HP 15 (2021) Thin & Light Ryzen 3-3250 Laptop</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>

      <div class="content">
        <h4>₹76,000</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>

<!--7th item ended-->


<!--8th item-->

<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/image/p8.JPG" alt="p8.JPG" width="200px">  
      <h6>HP 14 (2021) 11th Gen Intel Core i3 Laptop with Alexa Built-in</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹65,000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>


<!--8th item ended-->


<!--9th item -->



<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/image/p9.JPG" alt="p9.JPG" width="200px">  
      <h6>HP 14 (2021) Thin & Light 11th Gen Core i3 Laptop</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹34,000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>



<!--9th item ended-->

<!--10th item -->


<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/image/p10.JPG" alt="p10.JPG" width="200px">  
      <h6>Lenovo Ideapad L340 Intel Core i5 9th Gen 15.6” </h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹98,000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>





<!--10th item ended-->


<!--11th item started-->


<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/image/p11.JPG" alt="p11.JPG" width="200px">  
      <h6>HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹98,000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>




<!--11th item ended-->


<!--12th item -->


<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/image/p12.JPG" alt="p12.JPG" width="200px">  
      <h6>Dell Vostro 3401 14" (35.56 cms) FHD AG Display Laptop</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹49,000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>


<!--12th item ended-->


<!--13th item -->



<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/image/p13.JPG" alt="p13.JPG" width="200px">  
      <h6>HP 15 10th Gen Intel Core i3 Processor 15.6-inch</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹56,000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>


<!--13th item ended-->


<!--14th item ended-->

<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/image/p14.JPG" alt="p14.JPG" width="200px">  
      <h6>HP 15 11th Gen Intel Core i3 Processor 15.6" </h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹28000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>

<!--14th item ended-->



<!--15th item ended-->

<div class="col-md-3">

  <div class="box">
    <div class="product_image">
      <img src="./assets/image/p15.JPG" alt="p15.JPG" width="200px">  
      <h6>ASUS Laptop 15 M515DA-BQ501T AMD Ryzen 5</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹63000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>

<!--15th item ended-->


<!--16th item -->

<div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/image/p16.JPG" alt="p16.JPG" width="200px">  
      <h6>ASUS Laptop 15 M515DA-BQ501T AMD Ryzen 5</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹31,000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>

<!--16th item ended-->

      
        
    </div>
  </div>
</section>









<h1 class="first-heading">Mobiles</h1>
<section class="product">
  <div class="container" text-center>
    <div class="row">
      
          <!-- mobile store STARTED-->                   

  <!--1st item-->
  <div class="col-md-3">
   
    <div class="box">
      <div class="product_image">
        <img src="./assets/image/w1.JPG" alt="w1.JPG">  
        <h6>Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh|</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>
      <div class="content">
        <h4>₹8999</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>

  <!--1st item ended-->
   


  <!--second item-->
  <div class="col-md-3">

    <div class="box">
      <div class="product_image">
        <img src="./assets/image/w2.JPG" alt="w3.JPG">   
        <h6>Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)</h6> 
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>
      <div class="content">
        <h4>₹6799</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>
  <!--second item ended-->

  
  <!--3rd item-->

  <div class="col-md-3">
    <div class="box">
      <div class="product_image">
        <img src="./assets/image/w3.JPG" alt="w3.JPG">  
        <h6>Samsung Galaxy M11 (Metallic Blue, 4GB RAM</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>

      <div class="content">
        <h4>₹9100</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>

  <!--3rd item ended-->


 <!--4th item -->

  <div class="col-md-3">
    <div class="box">
      <div class="product_image">
        <img src="./assets/image/w4.JPG" alt="w4.JPG">  
        <h6>Tecno Spark 7 Pro</h6>  
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half"></i>
      </div>

      <div class="content">
        <h4>₹9500</h4>
        <button type="button" class="btn"><i class="fas fa-plus"></i></button>
        <span>1</span>
        <button type="button" class="btn"><i class="fas fa-minus"></i></button>
      </div>
         <button type="button" class="cart_btn" >Add To Cart</button>
    </div>
  </div>

 <!--4th item ended-->


 <!--5th item -->

 <div class="col-md-3">
  <div class="box">
    <div class="product_image">
      <img src="./assets/image/w5.JPG" alt="w5.JPG">  
      <h6> Redmi 9 Power (Mighty Black 4GB RAM 64GB Storage)</h6>  
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
    </div>

    <div class="content">
      <h4>₹10,000</h4>
      <button type="button" class="btn"><i class="fas fa-plus"></i></button>
      <span>1</span>
      <button type="button" class="btn"><i class="fas fa-minus"></i></button>
    </div>
       <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
</div>


 <!--5th item ended-->


<!--6th item-->

<div class="col-md-3">

<div class="box">
  <div class="product_image">
    <img src="./assets/image/w6.JPG" alt="w6.JPG">  
    <h6>Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage)</h6>  
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half"></i>
  </div>

  <div class="content">
    <h4>₹13,200</h4>
    <button type="button" class="btn"><i class="fas fa-plus"></i></button>
    <span>1</span>
    <button type="button" class="btn"><i class="fas fa-minus"></i></button>
  </div>
     <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>


<!--6th item ended-->



<!--7th item-->
<div class="col-md-3">
<div class="box">
  <div class="product_image">
    <img src="./assets/image/w7.JPG" alt="w7.JPG">  
    <h6>Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage)</h6>  
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half"></i>
  </div>

  <div class="content">
    <h4>₹7900</h4>
    <button type="button" class="btn"><i class="fas fa-plus"></i></button>
    <span>1</span>
    <button type="button" class="btn"><i class="fas fa-minus"></i></button>
  </div>
     <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>

<!--7th item ended-->


<!--8th item-->

<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/image/w8.JPG" alt="w8.JPG">  
  <h6>OPPO A31 (Mystery Black, 4GB RAM, 64GB Storage)</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹11,599/-</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>


<!--8th item ended-->


<!--9th item -->



<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/image/w9.JPG" alt="w9.JPG">  
  <h6>Panasonic Eluga i7 (2GB RAM, 16GB Storage</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹16990</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>



<!--9th item ended-->

<!--10th item -->


<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/image/w10.JPG" alt="w10.JPG">  
  <h6>Panasonic Eluga I6 (Black, 2GB Ram, 16GB Storage)</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹12,991</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>





<!--10th item ended-->


<!--11th item started-->


<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/image/w11.JPG" alt="w11.JPG">  
  <h6>Vivo Y20G (Purist Blue, 6GB, 128GB Storage) </h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹19,999</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>




<!--11th item ended-->


<!--12th item -->


<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/image/w12.JPG" alt="w12.JPG">  
  <h6>Samsung Galaxy M51 (Celestial Black, 8GB RAM, 128GB Storage)</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹8199</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>


<!--12th item ended-->


<!--13th item -->



<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/image/w13.JPG" alt="w13.JPG">  
  <h6>Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage)</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹7200</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>


<!--13th item ended-->


<!--14th item ended-->


<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/image/w14.JPG" alt="w14.JPG">  
  <h6>Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Storage)</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹9300</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>

<!--14th item ended-->



<!--15th item ended-->



<div class="col-md-3">
<div class="box">
<div class="product_image">
  <img src="./assets/image/w15.JPG" alt="w15.JPG">  
  <h6>Women's Georgette Saree With Unstiched Blouse Piece</h6>  
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star"></i>
  <i class="fas fa-star-half"></i>
</div>

<div class="content">
  <h4>₹8900/-</h4>
  <button type="button" class="btn"><i class="fas fa-plus"></i></button>
  <span>1</span>
  <button type="button" class="btn"><i class="fas fa-minus"></i></button>
</div>
   <button type="button" class="cart_btn" >Add To Cart</button>
</div>
</div>

<!--15th item ended-->



<!--16th item -->



<div class="col-md-3">
  <div class="box">
  <div class="product_image">
    <img src="./assets/image/w13.JPG" alt="w13.JPG">  
    <h6>Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage)</h6>  
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half"></i>
  </div>
  
  <div class="content">
    <h4>₹9200</h4>
    <button type="button" class="btn"><i class="fas fa-plus"></i></button>
    <span>1</span>
    <button type="button" class="btn"><i class="fas fa-minus"></i></button>
  </div>
     <button type="button" class="cart_btn" >Add To Cart</button>
  </div>
  </div>
  
  
  <!--16th item ended-->



    </div>
  </div>
</section>