<section clas="cart_section">
  <div class="container">
    <h2>Cart</h2 >

<table>
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Sub Total</th>
    <th>Remove item</th>
  </tr>
  <tr>
    <td>
      <img src="./assets/images/p1.JPG"  alt="P1.JPG"> </td>
    <td>₹100 </td>
    <td>
           <div class="content">
            <button type="button" class="btn"><i class="fas fa-plus"></i></button>
            <span>1</span>
            <button type="button" class="btn"><i class="fas fa-minus"></i></button>
           </div>
    </td>
    <td>₹100</td>

    <td>
       <button type="button" class="btn"><i class="far fa-trash-alt"></i>
      </button>
           
    </td>
  </tr>
  <td>
    Total-$100
  </td>
  <td></td>
  <td> </td>
  <td></td>
  <td>
    <button type="button" class="btn">
      <h6>
        <i class="far fa-trash-alt"></i>Remove All items </h6></button>
  </td>
</table>
</div>
</section>